<h3>Media Files</h3>
<div class="span16">
  <table class="table table-condensed">
    <thead>
        <tr>
          <th>Filename</th>
          <th>Media</th>
          <th></th>
        </tr>
    </thead>
    <tbody>
    <% @mediafiles.each do |mediafile| %>
        <tr>
          <td><%= link_to mediafile.filename, mediafile %></td>
          <td><%= link_to mediafile.medium.title, mediafile.medium if  mediafile.medium %></td>
          <td><%= link_to("Delete", mediafile_path(mediafile), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'btn btn-mini')  %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
  <%= link_to 'New Mediafile', new_mediafile_path, :class => 'btn btn-mini' %>
</div>

