<p id="notice"><%= notice %></p>

<p>
  <b>Filename:</b>
  <%= @mediafile.filename %>
</p>


<br>
<h4>Linked Media</h4>
<%=  link_to @mediafile.medium.title, @mediafile.medium %>   <br>
<br>

<%= link_to 'Back', :back %>
